/* Contact.css */

/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Estilos para el formulario */
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
  }
  
  /* Estilos para los campos de entrada */
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de enviar */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los mensajes de alerta */
  #toast-container {
    top: 80px;
    right: 0;
  }
  
  /* Estilos para el mensaje de éxito */
  .Toastify__toast--success {
    background-color: #28a745;
  }
  
  /* Estilos para el mensaje de error */
  .Toastify__toast--error {
    background-color: #dc3545;
  }
  
  /* Estilos para el mensaje de información */
  .Toastify__toast--info {
    background-color: #17a2b8;
  }
  